// $theme-colors: (
//     'primary': #0091ea //Covalence Blue!  :D
// );



@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.nav {
    margin: 10em;
}

h1 {
    display: inline;
}
.btn {
    // display: block;
    padding: 2em 1em;
    margin: 1em 10em;
    color: white
}

a {
    color: white;
    &:hover {
        text-decoration-color: coral;
        text-decoration-style: double;
        color: white;
        // font-size: 1.4em;
    }
}

input {
    margin: .5em;
    display: inline-block;
}

.input-chirp {
    width: 40em;
    // height: auto;
}

.name .chirp {
    display: block;
}

.single-chirp {
    padding: 3em;
    border: 5px solid black;
    display: inline;
}

// a:hover {
//     color: white;
//     text-decoration: none;
// }