// $theme-colors: (
//     'primary': #0091ea //Covalence Blue!  :D
// );



@import '../../../node_modules/bootstrap/scss/bootstrap.scss';


.nav {
    margin: 10em;
}

h1 {
    display: inline;
}

.btn {
    border-radius: 1em;
}
.btn-info {
    // display: block;
    padding: 2em 1em;
    margin: 1em 10em;
    color: white
}

a {
    color: white;
    &:hover {
        text-decoration-color: coral;
        text-decoration-style: double;
        color: white;
        // font-size: 1.4em;
    }
}

input {
    margin: .5em;
    display: inline-block;
}

.input-chirp {
    width: 40em;
    // height: auto;
}

.name-div {
    display: block;
}

.chirp-div {
    display: block;
}

.chirp {
    font-size: 1.4em;
}

.add-chirp {
    border: 1px solid gray;
    border-radius: 1em;
    padding: 3em;
}

.btn-warning {
    margin: 2em;
}

.single-chirp {
    padding: 3em;
    border: 1px solid gray;
    border-radius: 1em;
    margin: 1em;
    // display: inline;
}

.label-name {
    margin-right: 3.5em;
}

.label-chirp {
    margin-right: 1em;
}

// a:hover {
//     color: white;
//     text-decoration: none;
// }